:root{
    --btn-height: 32px;
    --grid-width: calc(100vw - var(--btn-height));
    --grid-height: calc(100vh - var(--btn-height));
}
body{
    margin: 0;
    box-sizing: border-box;
    /* height: 1vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#block-container{
    display: grid;
    /* grid-template-columns: repeat(16, 1fr); */
    /* grid-template-rows: repeat(16, calc(1fr)); */
    width: min(var(--grid-width), var(--grid-height));
    height: min(var(--grid-width), var(--grid-height));
    gap: 1px;
}
#block-container > div{
    background: red;
}
button{
    height: calc(var(--btn-height) - 8px);
    font-size: calc(0.5 * var(--btn-height));
    background: none;
    border: 1px solid rgb(57, 54, 54);
    /* background-color: hsl(115, 100%, 79%); */
    cursor: pointer;
    margin: 2px;
    padding: 2px;
}
.red{
    background: red;
}
.green{
    background: green !important;
    
}